body {
    display: flex;
    flex-direction: column;
    width: 100%;  
    margin: 0;
    color: white;

    font-size: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 200px;
    color: white;
    background-color: rgb(27, 6, 1);
}

h1 {
    font-size: 2.5rem;
    font-family: 'Times New Roman';
    margin: 0;
}

h2 {
    font-size: 2rem;
    font-family: 'Georgia';
    margin: 0;
}

h3 {
    font-size: 1.25rem;
    font-family: 'Times New Roman';
    margin: 0;
}



.strip {
    display: flex;
    flex-direction: row;

    width: 100%;
    min-height: 80px;
    background-color: rgb(43, 27, 28);
}

.image-half {
    flex-grow: 1;
}

.image-third {
    flex-grow: 1;
}

.text-half {
    flex-grow: 1;
    flex-basis: 0;

    font-size: 1.25rem;
    background-color: rgb(175, 144, 108);
}

.text-two-third {
    flex-grow: 2;
    flex-basis: 0;

    font-size: 1.25rem;
}

.box-text {
    margin: 30px;
}



.strip_header {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    background-color: rgb(95, 32, 39);
}

.header {
    height: 40px;
    background-color: rgb(95, 32, 39);
}

.header_initial {
    position: relative;
    top: 0px;
}

.header_absolute {
    position: absolute;
}

.sticky-header {
    position: fixed; 
}

#header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    height: 100%;
}

#header__logo__image {
    margin-top: 5px;
    height: 90%;
}

#header__items {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 12;

    height: 100%;
}

.header__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    height: 100%;
}

.header__item_current {
    color: rgb(255, 229, 168);
}



.a_clear {
    color: inherit;
    text-decoration: inherit;
}

.a_clear:hover {
    color: rgb(255, 229, 168);
}

.a_button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.a_button:hover {
    background: #926A36;
    cursor: pointer;
}



#greeting {
    display: block;
    height: 610px;
    background-image: url(../assets/home/home1.jpg);
    background-position: center;
    background-size: cover;
}

#title-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}

#title-card__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(22, 11, 8, 0.7)
}

#title-card__box__text {
    text-align: center;
}



.button-line {
    display: flex;
    justify-content: center;
}

.know-more-button {
    display: flex;

    width: 30%;
    min-width: 200px;
    height: 60px;

    background-color: rgb(95, 32, 39, 0.7);
}



#for-empoyers-home {
    display: flex;
    justify-content: center;
    justify-content: center;
}

.service-column {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
}

.service-block {
    display: flex;
    flex-basis: fit-content;
    margin: 20px;
    background-color: rgb(95, 32, 39);
}

#service-block__image_maid {
    background-image: url(../assets/service/maid.jpg);
    background-position: center;
    background-size: cover;
}

#service-block__image_babysitter {
    background-image: url(../assets/service/babysitter.jpg);
    background-position: center;
    background-size: cover;
}

#service-block__image_assistant {
    background-image: url(../assets/service/assistant.jpg);
    background-position: center;
    background-size: cover;
}

#service-block__image_psychologist {
    background-image: url(../assets/service/psychologist.jpg);
    background-position: left;
    background-size: cover;
}

#service-block__image_domestic-worker {
    background-image: url(../assets/service/domestic-worker.jpg);
    background-position: center;
    background-size: cover;
}

#service-block__image_family-couple {
    background-image: url(../assets/service/family-couple.jpg);
    background-position: center;
    background-size: cover;
}

#service-block__image_driver {
    background-image: url(../assets/service/driver.jpg);
    background-position: center;
    background-size: cover;
}



#about-us-home {
    flex-basis: fit-content;
    height: 600px;
}

#about-us-home__image {
    background-image: url(../assets/home/about-us.jpg);
    background-position: center;
    background-size: cover;
}



#for-candidates-home {
    justify-content: center;
    align-items: center;
    height: 500px;
}

.pay-grid {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;

    width: 90%;
    height: 90%;
    background-color: rgb(65, 40, 43);
}

.pay-grid > div {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 3px;
    padding: 5px;
    background-color: rgb(108, 69, 72);

    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
}

.pay-grid > div:nth-child(1), .pay-grid > div:nth-child(2), .pay-grid > div:nth-child(3) {
    font-style: italic;
}

.pay-grid > div:nth-child(6n + 5), .pay-grid > div:nth-child(6n + 6) {
    font-weight: normal;
    background-color: rgb(129, 83, 86);
}

.pay-grid > div:nth-child(6n + 8), .pay-grid > div:nth-child(6n + 9) {
    font-weight: normal;
    background-color: rgb(152, 97, 102);
}



#privacy {
    justify-content: center;
    align-items: center;
}

#privacy-article {
    margin: 30px 60px;
}



@media screen and (max-width: 900px) {
    #header {
      display: none;
    }
    .strip {
        flex-direction: column;
    }
    .service-block {
        flex-direction: column;
    }
    .image-half {
        min-height: 100vw;
    }
    .image-third {
        min-height: 50vw;
    }
    
}

@media screen and (min-width: 2000px) {
    h1 {
        font-size: 4rem;
    }
    
    h2 {
        font-size: 3rem;
    }
    
    h3 {
        font-size: 2.5rem;
    }

    .text-half {
        flex-grow: 2;
        font-size: 2.5rem;
    }

    .text-two-third {
        flex-grow: 2;
        font-size: 2.5rem;
    }

    .box-text {
        margin: 60px;
    }

    #header {
        height: 160px;
    }
}