body {
    display: flex;
    flex-direction: column;
    width: 100%;  
    margin: 0;
    color: white;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 200px;
    color: white;
    background-color: rgb(27, 6, 1);
}

h1 {
    font-size: 48px;
    font-family: 'Times New Roman';
    margin: 0;
}

h2 {
    font-size: 30px;
    font-family: 'Georgia';
    margin: 0;
}

h3 {
    font-size: 18px;
    font-family: 'Times New Roman';
    margin: 0;
}

.strip {
    display: flex;
    flex-direction: row;

    width: 100%;
    min-height: 80px;
    background-color: rgb(43, 27, 28);
}

.image-half {
    flex-grow: 1;
}



.text-half {
    flex-grow: 1;
    flex-basis: 0;

    font-size: 22px;
    background-color: rgb(175, 144, 108);
}

.box-text {
    margin: 30px;
}

.strip_header {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    background-color: rgb(95, 32, 39);
}

#header {
    height: 40px;
    background-color: rgb(95, 32, 39);
}

.header_initial {
    position: absolute;
    top: 0px;
}

.sticky-header {
    position: fixed; 
}

#header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    height: 100%;
}

#header__logo__image {
    height: 90%;
}

#header__items {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 12;

    height: 100%;
}

.header__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    height: 100%;
}

.a_clear {
    color: inherit;
    text-decoration: inherit;
}

.a_clear:hover {
    color: rgb(255, 229, 168);
}

.a_button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.a_button:hover {
    background: #926A36;
    cursor: pointer;
}

.header__item_current {
    color: rgb(255, 229, 168);
}

#greeting {
    display: block;
    height: 610px;
    background-image: url(../assets/home1-saturated.jpg);
    background-position: center;
    background-size: cover;
}

#title-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}

#title-card__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(22, 11, 8, 0.7)
}

#title-card__box__text {
    text-align: center;
}

.button-line {
    display: flex;
    justify-content: center;
}

.know-more-button {
    display: flex;

    width: 30%;
    min-width: 200px;
    height: 60px;

    background-color: rgb(95, 32, 39, 0.7);
}

#about-us-home {
    flex-basis: fit-content;
    height: 600px;
}

#about-us-home-image {
    background-image: url(../assets/about-us.jpg);
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 800px) {
    #header {
      visibility: hidden;
    }
    .strip {
        flex-direction: column;
    }
    .image-half {
        min-height: 100vw;
    }
}

#privacy {
    justify-content: center;
    align-items: center;
}

#privacy-article {
    margin: 30px 60px;
}